html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Slab';
    height: 100%;
    margin: 0;
    background-color: #F9F8F2;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.shadow-hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar{
    z-index: 2;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    transition: background-color 0.3s ease-in-out;
}

.navbar-scroll{
    z-index: 2;
    background-color: #5B7D6F;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    transition: background-color 0.3s ease-in-out;
}

.navbar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo{
    font-weight: 100;
    font-size: 32px;
    color: #D68861;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.logo-scroll{
    font-weight: 100;
    font-size: 32px;
    color: #F9F8F2;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.logo-small{
    display: none;
}

.navbar-menu{
    display: flex;
    align-items: center;
}

.navbar-menu ul{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 16px;
    margin: 0;
    padding-left: 0;
}

.navbar-menu ul li{
    list-style-type: none;
}

.navbar-menu ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #D68861;
    padding: 4px 16px 4px 16px;
    border-radius: 999px;
    transition: all .3s ease-in-out;
}

.navbar-menu-scroll ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #F9F8F2;
    padding: 4px 16px 4px 16px;
    border-radius: 999px;
    transition: all .3s ease-in-out;
}

.navbar-menu ul li a:hover{
    background-color: #D68861;
    color: #F9F8F2 !important;
}

.navbar-side{
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
}

.navbar-side{
    display: flex;
    align-items: center;
}
.navbar-side ul{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 8px;
    margin: 0;
    padding-left: 0;
}

.navbar-side ul li{
    list-style-type: none;
}

.navbar-side ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #D68861;
    transition: all .3s ease-in-out;
    padding: 8px;
}

.navbar-side ul li a:hover{
    color: #D68861 !important;
}

button{
    background-color: #fafafa;
    cursor: pointer;
    border: 2px solid #D68861;
    padding: 10px 16px;
    color: #D68861;
    font-weight: bold;
    font-family: "Roboto Slab";
    font-size: 16px;
    transition: all .15s ease-in;
}

button:hover{
    color: #fafafa;
    background-color: #D68861;
}

.hamburger{
    display: none;
}

/* Hero Section */
.content{
    z-index: 1;
}
.hero{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F2;
}

.hero-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 160px;
    margin-bottom: 80px;
}

.hero-text{
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
}
.hero-text p{
    margin-bottom: 32px;
    padding: 0;
}

.hero-text h1{
    font-size: 56px;
    font-weight: 100;
}

.hero-text p{
    font-size: 16px;
}

h1, h3{
    margin-bottom: 24px;
}


.hero-text .bold-text{
    font-weight: bold;
}

.hero-image-container{
    padding-left: 40px;
    padding-right: 40px;
}
.hero-image{
    object-fit: cover;
    border-radius: 999px;
    width: 480px;
    height: 480px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

/* Section 2 */
.section-2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3E2D8;
}

.section-2-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 80px;
    margin-bottom: 80px;
}

h2{
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 40px;
}

.section-2-card-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 56px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F2;
    width: 320px;
    height: 560px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-text p{
    text-align: center;
    font-size: 16px;
}

.price{
    margin: 0;
}

.card-text h3{
    margin-bottom: auto;
}

.card-text p{
    margin-bottom: auto;
}

.card-image-container{
    min-width: 288px;
    min-height: 288px;
    margin-bottom: 24px;
}

.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Section 3 */
.section-3{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F2;
}

.section-3-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 80px;
}

.section-3-image{
    width: 560px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.section-3-text p{
    margin-bottom: 24px;
}

.section-3-text h2{
    color: #D68861;
}

/* Section 4 */
.section-4{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3E2D8;
}

.section-4-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.section-4-card-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 56px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.section-4-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F2;
    width: 320px;
    height: auto;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.section-4-card-text{
    text-align: center;
}

.section-4-card-text h3{
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 200;
}

/* Section 5 */
.section-5{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F2;
}

.section-5-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.section-5-card-container{
    display: flex;
    width: 100%;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    gap: 56px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.section-5-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F8F2;
    width: 320px;
    height: auto;
    padding: 24px 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.section-5-card-container img{
    width: 160px;
    height: 160px;
    border-radius: 999px;
    object-fit: cover;
    margin-bottom: 16px;
}

.section-5-card-text h2{
    margin-bottom: 16px;
}

.section-5-card-text p{
    text-align: center;
}

/* Footer */
footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B7D6F;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 16px;
}

.footer-sm-menu{
    display: flex;
    align-items: center;
}

.footer-sm-menu ul{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 16px;
    margin: 0;
    padding-left: 0;
}

.footer-sm-menu-list li{
    list-style-type: none;
}

.footer-sm-menu li a{
    font-size: 20px;
    text-decoration: none;
    color: #F9F8F2;
    transition: all .3s ease-in-out;
    padding: 8px;
}

.footer-sm-menu li a:hover{
    color: #D68861;
}

.footer-container p{
    font-size: 16px;
    text-align: center;
    color: #F9F8F2;
}

@media screen and (max-width: 425px){
    .logo{
        display: none;
    }
    .logo-small{
        width: 32px;
        margin: 0;
        display: grid;
        align-items: center;
        cursor: pointer;
    }
    .navbar-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        align-items: center;
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .navbar-side{
        gap: 8px;
    }
    .navbar-side ul{
        display: none;
    }
    .navbar-menu ul{
        display: none;
    }

    .hamburger{
        display: block;
    }
    .hamburger a{
        font-size: 20px;
        color: #D68861;
        padding: 8px;
        transition: all .3s ease-in-out;
    }
    
    .hamburger a:hover{
        color: #D68861 !important;
    }
    button{
        font-size: 14px;
    }

    h1,h2{
        text-align: center;
    }

    .hero-text h1{
        font-size: 40px;
    }

    .hero-text h2 {
        font-size: 32px;
    }

    .hero-text p {
        font: 14px;
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
    .hero-image{
        object-fit: cover;
        border-radius: 999px;
        width: 240px;
        height: 240px;
    }
    .hero-image-container{
        order: -1;
        margin-bottom: 24px;
    }

    /* Section 2 */
    .section-2-container{
        margin-left: 16px;
        margin-right: 16px;
    }

    .section-2-container h2 {
        font-size: 32px;
    }

    .card-text h3{
        font-size: 16px;
        text-align: center;
        margin-bottom: 16px;
    }

    .card-text p{
        font-size: 14px;
        margin-bottom: 16px;
    }

    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F9F8F2;
        width: 256px;
        height: 536px;
        padding: 16px;
    }

    .card-image-container{
        min-width: 224px;
        min-height: 224px;
        margin-bottom: 16px;
    }
    
    .card-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* Section 3 */
    .section-3-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .section-3-image{
        width: 240px;
        align-self: center;
    }

    .section-3-text h2{
        font-size: 32px;
    }

    .section-3-text p{
        font-size: 14px;
    }

    /* Section 4 */
    .section-4-container{
        margin-left: 24px;
        margin-right: 24px;
    }

    .section-4-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F9F8F2;
        width: 240px;
        height: auto;
        padding: 24px;
    }
    
    .section-4-container h2{
        font-size: 32px;
    }

    .section-4-card-text h3{
        font-size: 24px;
    }

    .section-4-card-text p{
        font-size: 14px;
    }

    /* Section 5 */
    .section-5-container{
        margin-left: 24px;
        margin-right: 24px;
    }

    .section-5-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F9F8F2;
        width: 240px;
        height: auto;
        padding: 24px;
    }

    .section-5-container h2{
        font-size: 32px;
    }

    .section-5-card-text h2{
        font-size: 32px;
    }

    .section-5-card-text p{
        font-size: 14px;
    }
    
    /* Footer */
    .footer-container p{
        font-size: 16px;
        text-align: center;
        color: #F9F8F2;
    }
    .footer-sm-menu li a{
        font-size: 20px;
    }
}

@media screen and (min-width: 426px) and (max-width: 992px){
    .logo{
        display: none;
    }
    .logo-small{
        width: 40px;
        margin: 0;
        display: grid;
        align-items: center;
        cursor: pointer;
    }
    .navbar-side{
        gap: 16px;
    }
    .navbar-side ul{
        display: none;
    }
    .navbar-menu ul{
        display: none;
    }

    .hamburger{
        display: block;
    }
    .hamburger a{
        font-size: 24px;
        color: #D68861;
        padding: 8px;
        transition: all .3s ease-in-out;
    }
    
    .hamburger a:hover{
        color: #D68861 !important;
    }
    button{
        font-size: 14px;
    }

    h1,h2{
        text-align: center;
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-right: 80px;
    }
    .hero-image{
        object-fit: cover;
        border-radius: 999px;
        width: 400px;
        height: 400px;
    }
    .hero-image-container{
        order: -1;
        margin-bottom: 24px;
    }

    .section-3-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin-left: 80px;
        margin-right: 80px;
    }

    .section-3-image{
        width: 400px;
        align-self: center;
    }

    .section-4-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F9F8F2;
        width: 320px;
        height: auto;
        padding: 24px;
    }
    
    .section-4-container h2{
        font-size: 40px;
    }

    .section-4-card-text h3{
        font-size: 24px;
    }

    .section-4-card-text p{
        font-size: 14px;
    }

    /* Footer */
    .footer-container p{
        font-size: 16px;
        text-align: center;
        color: #F9F8F2;
    }
    .footer-sm-menu li a{
        font-size: 24px;
    }
}